<footer class="py-2 mt-4 bg-base-100">
    <div class="flex justify-center space-x-6 text-3xl">
        <a href="{{ site.social_links.github }}" target="_blank" class="link"> 
        <i class="fa-brands fa-github"></i>
        </a>
        <a href="{{ site.social_links.linkedin }}" target="_blank" class="link"> 
        <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <p class="mt-4 text-center"> 
        &copy; {{ site.year }} {{ site.author }}. All rights reserved.
    </p>
</footer>
