<footer class="site-footer" box-="square">
  <div class="social-footer">
    <a href="{{ site.social_links.github }}" target="_blank" class="link">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="{{ site.social_links.linkedin }}" target="_blank" class="link">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
  <p class="copyright">
    &copy; {{ site.year }} {{ site.author }}. All rights reserved.
  </p>
</footer>
