<nav class="site-nav" box-="square">
    <a class="home-link" href="/" is-="button" variant-="monokai11" box-="round">
        <span>
            <em>ls</em>
        </span>
    </a>
  <row class="nav-links">
    <a href="/pages/about/index.html" is-="button" variant-= "monokai11" box-="round">
      <span>About</span>
    </a>
    <a href="/blog/index.html" is-="button" variant-= "monokai11" box-="round">
      <span>Posts</span>
    </a>
    <a href="/pages/projects/index.html" is-="button" variant-= "monokai11" box-="round">
      <span>Projects</span>
    </a>
  </row>
</nav>
