@layer components {
  [data-webtui-theme="monokai"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--monokai10);
    }

    p,
    blockquote,
    li,
    [is-~="typography-block"] {
      a {
        color: var(--monokai-blue-bright);
        text-decoration: underline;
        &:hover {
          color: var(--monokai-blue);
        }
      }
      code {
        color: var(--monokai-orange-bright);
      }
    }
  }
}
