---
layout: layouts/base.njk
---
<div class="card bg-base-100 mt-4 mb-2 mx-auto" style="max-width: 800px;"> 
    <div class="card-body flex justify-center items-center text-center">
        <article class="prose prose-headings:text-light_green">
            {{ content | safe }}
        </article>
    </div>
</div>
