---
layout: layouts/base.njk
pagination:
  data: collections.paginatedPosts
  size: 5
  alias: post
permalink: "/blog/{{ pagination.PageNumber }}/"
tags: Page
---

<div class="pagination-body">
  {%- for post in pagination.items -%}
  <div class="pagination-item">
    <h3>
      <a href="{{post.url}}" class="pagination-post-link">
        {{post.data.title}}
      </a>
    </h3>

    <p class="pagination-post-date">{{post.data.date.toDateString()}}</p>
    <div class="post-content">
      <p>{{post.templateContent | truncate(200, true) | safe}}</p>
    </div>
  </div>
  {%- endfor -%}
  <nav aria-labelledby="my-pagination" class="pagination-links">
    {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" is-="button" box-="round"
      >Prev Post</a
    >
    {% else %}
    <span is-="button" box-="round">Prev Post</span>
    {% endif %}

    <!-- Next Button -->
    {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" is-="button" box-="round">Next Post</a>
    {% else %}
    <span is-="button" box-="round">Next Post</span>
    {% endif %}
  </nav>
</div>
