---
layout: layouts/base.njk
---
<!DOCTYPE html>
<div class="grid grid-cols-3 gap-4 mt-4">
    <!-- Left Column-->
    <div class="bg-base-100 col-span-1 p-6 flex flex-col items-center">
        <img src="/assets/images/display_pic.png" alt="A mystical black cat with glowing golden eyes,
            wearing traditional samurai armor and carrying a katana on its back, stands against a 
            sunset sky. The light from the sun creates a halo around the cat's fur, enhancing its 
            powerful and otherworldly presence. The image evokes a sense of mystery and strength, 
            blending fantasy with elements of Japanese samurai culture." 
            class="rounded-full mt-4 max-h-32 h-auto w-auto">
        <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-2xl text-primary font-bold">About Me</h1>
            <p class="mt-4">
                Exploring coding, robotics, and embedded systems with a focus on creative, hands-on
                projects. Always building, learning, and sharing – follow along!
                <a href="" class="font-bold link link-primary">@liquidscroll</a>
            </p>
        </div>
    </div>

    <!-- Right Column-->
    <div class="bg-base-100 col-span-2 p-6">
        {#
        <article class="prose">
            {{ content | safe }}
        </article>
        #}
        <hr class="mt-2 mb-2">
        <h2 class="text-primary font-bold"> Recent Blog Posts<h2>
                <div class="mt-4 space-y-6">
                    {%- for post in collections.paginatedPosts -%}
                    <div class="border-b pb-4">
                        <h3 class="font-semibold">
                            <a href="{{ post.url }}" class="link link-info">
                                {{ post.data.title }}
                            </a>
                        </h3>
                        <p class="mb-2 text-base-content">{{ post.date.toDateString() }}</p>
                        <div class="post-content text-base-content">
                            <p class="mt-2">{{ post.templateContent | truncate(200, true) | safe }}</p>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>

    </div>
</div>
