---
layout: layouts/base.njk
permalink: "/posts/{{ Post.fileSlug }}/"
---

<div class="post-body">
  <h2>{{title}}</h2>
  <h3>{{date.toDateString()}}</h3>
  {{content|safe}}

  <nav aria-labelledby="my-pagination" class="pagination-links">
    {% if previousPost %}
    <a href="{{ previousPost.url }}" is-="button" box-="round">Prev Post</a>
    {% else %}
    <span is-="button" box-="round">Prev Post</span>
    {% endif %}

    <!-- Next Button -->
    {% if nextPost %}
    <a href="{{ nextPost.url }}" is-="button" box-="round">Next Post </a>
    {% else %}
    <span is-="button" box-="round">Next Post</span>
    {% endif %}
  </nav>
</div>
