---
layout: layouts/base.njk
---

<article class="projects-overview">
  <h1>Projects</h1>
  <p>
    Welcome to my projects page! Here you’ll find a collection of my latest
    coding and robotics creations, from simple scripts to complex applications.
    These projects showcase my skills and passions as a computer science
    student, and I’m excited to share them with you. Take a look around and let
    me know what you think!
  </p>
  <table class="projects-table">
    <thead>
      <tr>
        <th>Projects</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for proj in collections.projects %}
      <tr>
        <td>
          <a href="{{proj.url}}">{{proj.data.title}}</a>
        </td>
        <td>{{ proj.content | truncate(350) | safe}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</article>
