---
layout: layouts/base.njk
---

<div class="card bg-base-100 mt-4 mb-2 mx-auto" style="width:90%"> 
    <div class="card-title flex flex-col justify-center items-center text-center text-primary py-4">
        <h1 class="mb-2">RESUME</h1>
        <a href="/assets/pdf/Jonathan_Tynan-Resume.pdf" role="button" 
            class="btn btn-primary">DOWNLOAD</a>
    </div>
    <div class="card-body flex justify-center items-center text-center">
        <iframe src="/assets/pdf/Jonathan_Tynan-Resume.pdf" width="100%" height="800px"
            class="border rounded shadow-md"></iframe>
    </div>
</div>
